<html>
    <head>
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    </head>

    <body>
        <div class="container">
            <div class="row justify-content-md-center pt-5">
                <h1>DocOnGo</h1>
            </div>
            <div class="row justify-content-md-center">
                <h4>Doctorinator</h4>
            </div>
            <div class="row justify-content-md-center pt-5">
                <form action="#" method="POST" class="form" name="form">
                    <div class="form-group">
                        <textarea style="width: 100%;" class="form-control" name="str" id="str"></textarea>
                    </div>
                </form>
            </div>
            <div class="row justify-content-md-center pt-5">
                <button type="submit" class="btn btn-dark">Go</button>
            </div>
        </div>
    </body>
</html>