{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DocOnGo</title>
	
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'assets/materialize/css/materialize.min.css' %}" media="screen,projection" />
    <!-- Bootstrap Styles-->
    <link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="{% static 'assets/css/font-awesome.css' %}" rel="stylesheet" />
    <!-- Morris Chart Styles-->
    <link href="{% static 'assets/js/morris/morris-0.4.3.min.css' %}" rel="stylesheet" />
    <!-- Custom Styles-->
    <link href="{% static 'assets/css/custom-styles.css' %}" rel="stylesheet" />
    <!-- Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="{% static 'assets/js/Lightweight-Chart/cssCharts.css' %}"> 
</head>
<body>
    <div id="wrapper">
         <nav class="navbar navbar-default top-navbar" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand waves-effect waves-dark" href="#"><i class="large material-icons">assignment_ind</i> <strong>DocOnGo</strong></a>

		        <div id="sideNav" href="#"><i class="material-icons dp48">toc</i></div>
            </div>
        </nav>
        <!--/. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li>
                        <a href="index" class="waves-effect waves-dark"><i class="fa fa-qrcode"></i> Check </a>
                    </li>
                    
                    <li>
                        <a href="table" class="active-menu waves-effect waves-dark"><i class="fa fa-table"></i> Doctors Panel</a>
                    </li>
                </ul>
            </div>

        </nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper" >
            <div class="header"> 
                <h1 class="page-header">
                    Data
                </h1>
            </div>	
            <div id="page-inner">    
            <div class="row">
                <div class="col-md-12">
                    <!-- Advanced Tables -->
                    <div class="card">
                        <div class="card-content">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Story</th>
                                            <th>Symptoms</th>
                                            <th>Duration</th>
                                            <th>Aggregated Factor</th>
                                            <th>Date</th> 
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% block content %}
                                        {% for n,st,dr,sp,af,dt in data %}
                                        <tr class="odd gradeX">
                                            <td>{{n}}</td>
                                            <td>{{st}}</td>
                                            <td>{{sp}}</td>
                                            <td>{{dr}}</td>
                                            <td>{{af}}</td>
                                            <td>{{dt}}</td>
                                        </tr>
                                        {% endfor %}
                                        {% endblock %}
                                    </tbody>
                                </table>
                            </div>
                            
                        </div>
                    </div>
                    <!--End Advanced Tables -->
                </div>
            </div>
    </div>
             <!-- /. PAGE INNER  -->
            </div>
         <!-- /. PAGE WRAPPER  -->
     <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
 

    <!-- jQuery Js -->
    <script src="{% static 'assets/js/jquery-1.10.2.js' %}"></script>
	
	<!-- Bootstrap Js -->
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
	
	<script src="{% static 'assets/materialize/js/materialize.min.js' %}"></script>
	
    <!-- Metis Menu Js -->
    <script src="{% static 'assets/js/jquery.metisMenu.js' %}"></script>
    <!-- Morris Chart Js -->	
    <!-- Custom Js -->
    <script src="{% static 'assets/js/custom-scripts.js' %}"></script> 
        <script>
            $(document).ready(function () {
                $('#dataTables-example').dataTable();
            });
    </script>
    <!-- Custom Js -->
    <script src="{% static 'assets/js/custom-scripts.js' %}"></script> 
 

</body>

</html>
